
.gameStart{
    border: 1px solid gray;
    border-radius: 3px;
    width:200px;
    height:50px;
    font-size: 12px;
    text-align: center;
    background-color: lightseagreen;
}
.gameStart:hover{
    background-color: lime;
    cursor: pointer;
}

.timer{
    width:200px;
    height:50px;
    font-size: 12px;
    text-align: center;
}


.gBoard {   
    margin: auto;
    display: flex;
    height: 360px;
    width: 360px;
    flex-wrap: wrap;
    background-color: lightgray;
    
}


.gBoard div{    
    height: 30px;
    width: 30px;
}


.marked{
    background-color: whitesmoke;
}

.mine { 
    background-color: lightgray;
}

