.gBoard {
    height: 480px;
    width: 480px;
    display: flex;
    flex-wrap: wrap;
    background-color: lightgray;
}



.gBoard div{
    height: 40px;
    width: 40px;
}

.mine {
    background-color: red;
}


.checked{
    background-color: whitesmoke;
}

