.gBoard {   
    margin: auto;
    display: flex;
    height: 360px;
    width: 360px;
    flex-wrap: wrap;
    background-color: lightgray;
    
}


.gBoard div{    
    height: 30px;
    width: 30px;
}


.marked{
    background-color: whitesmoke;
}

.mine { 
    background-color: lightgray;
}
